# Logica, control flow en filteren

## 1. Logica

### 1.1 Vergelijken met comparison operators

Via deze link vind je de Python 'comparison operators': https://www.pythontutorial.net/python-basics/python-comparison-operators/

- Maak de variabelen my_age en your_age aan. Wijs hieraan je eigen leeftijd en de leeftijd van iemand anders toe.
- Check of your_age kleiner dan of gelijk is aan my_age. Print het resultaat.
- Check of 'erik' niet gelijk is aan 'Erik'. Print het resultaat.
- Check of '1978' groter is dan 'Erik'. Print het resultaat.
- Check of True groter is dan False. Print het resultaat.

In [1]:
# 1.1 Compare with comparison operators
# Create the variables my_age and your_age. Assign your own age and someone else's age to this.
# Check if your_age is less than or equal to my_age. Print the result.
# Check if 'erik' is not equal to 'Erik'. Print the result.
# Check if '1978' is bigger than 'Erik'. Print the result.
# Check whether True is greater than False. Print the result.

my_age = 35
your_age = 33
print (your_age <= my_age)
print ("erik" != "Erik")
print ("1978" > "Erik") #the numers come before the letters in python
print (True > False) # 1 > 0

True
True
False
True

### 1.2 Vergelijken met Numpy arrays

Voer onderstaande cel uit om 4 Numpy arrays aan te maken:
- np_to: omzet per winkel
- np_floor: winkeloppervlaktes in vierkante meters
- np_comp_sc: concurrentiescores
- np_comp_no: aantal concurrenten

In [2]:
# 1.2 Compare with Numpy arrays
# Run the cell below to create 4 Numpy arrays:
# np_to: revenue per store
# np_floor: retail areas in square meters
# np_comp_sc: competition scores
# np_comp_no: number of competitors

#The values property is used to get a Numpy representation of the 
# DataFrame. Only the values in the DataFrame will be returned, 
# the axes labels will be removed. 
#.values Return a Numpy representation of the DataFrame.

import pandas as pd
import numpy as np
storedata = pd.read_csv('storedata_clean.csv',sep=";")

#Creating arrays from dataframe
np_to = storedata["Profit"].values
np_floor = storedata["Floor Space"].values
np_comp_sc = storedata["Competition score"].values
np_comp_no = storedata["Competition number"].values

- Print een numpy array good_to die bestaat uit 'Booleans' (True of False) die aangeven of de omzet groter is dan of gelijk is aan 2800000.

In [3]:
# Print a numpy array good_to consisting of 'Booleans' (True or False) 
# indicating whether the revenue is greater than or equal to 2800000.

good_to = np_to >= 2800000
#display(good_to)
good_to[good_to_fl]

NameError: name 'good_to_fl' is not defined

- Maak de numpy array to_fl met daarin de omzet per vierkante meter van iedere winkel.
- Print de numpy arry good_to_fl die Booleans bevat die aangeven of de omzet per vierkante meter hoger is dan of gelijk aan 200 is.

In [ ]:
# Create the numpy array to_fl containing the sales per square foot of each store.
# Print the numpy arry good_to_fl that contains Booleans indicating whether the 
# revenue per square foot is greater than or equal to 200.

to_fl = np_to / np_floor
good_to_fl = to_fl >= 200
to_fl[good_to_fl] #mask only the Trues
#display(good_to_fl)

- Print de numpy array better, die bestaat uit Booleans, waarin je checkt of good_to groter is dan of gelijk is aan good_to_fl.
- Wat kun je opmaken uit deze numpy array?

In [4]:
# Print the numpy array better, which consists of Booleans, in which you check whether 
#good_to is greater than or equal to good_to_fl.
# What can you make out from this numpy array?
better = good_to >= good_to_fl
display(better)

NameError: name 'good_to_fl' is not defined

### 1.3 Boolean operators: and, or, not
1) Maak print statements waarmee je checkt of:
- stamford_staff groter is dan 6 EN kleiner is dan 8
- stamford_staff groter is dan 6 OF kleiner is dan 8

2) Pas de not() functie toe om dezelfde checks nogmaals te doen.

In [5]:
# 1.3 Boolean operators: and, or, not
# 1) Create print statements that check whether:
# stamford_staff is greater than 6 AND less than 8
# stamford_staff is greater than 6 OR less than 8
# 2) Use the not() function to do the same checks again.

stamford_staff = 8
skipton_staff = 2

#start coding here
print(stamford_staff > 6 and stamford_staff < 8 )
print((stamford_staff > 6) & (stamford_staff < 8))#alternative from the above

print(stamford_staff > 6 or stamford_staff < 8 )
print(not(stamford_staff <= 6) and not(stamford_staff >=8 ))
print(not(stamford_staff <= 6) or not(stamford_staff >=8 ))

False
False
True
False
True

### 1.4 np.logical.and(), np.logical.or(), np.logical.not()
- Print boolean arrays (bestaan alleen uit True en False) die antwoord geven op de volgende vragen:
    - Welke concurrentie scores (np_comp_sc) zijn groter dan 13 of kleiner dan 11?
    - Welke getallen zijn groter dan of gelijk aan 15 in zowel np_comp_sc en np_comp_no?

In [6]:
# 1.4 np.logical.and(), np.logical.or(), np.logical.not()
# Print boolean arrays (consisting only of True and False) that answer the following questions:
# Which competition scores (np_comp_sc) are greater than 13 or less than 11?
# Which numbers are greater than or equal to 15 in both np_comp_sc and np_comp_no?

display(np.logical_or(np_comp_sc > 13, np_comp_sc < 11))
display(np.logical_and(np_comp_sc >= 15, np_comp_no >= 15))

array([ True,  True,  True, False, False, False,  True,  True,  True,
        True, False,  True,  True, False,  True,  True, False,  True,
       False,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True, False,  True,  True,  True, False,  True,  True,
        True,  True, False,  True,  True, False, False,  True,  True,
        True,  True, False,  True,  True, False,  True,  True,  True,
        True,  True,  True,  True, False,  True,  True,  True,  True,
       False, False,  True,  True, False, False,  True,  True, False,
        True,  True,  True,  True, False,  True,  True, False,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True, False, False, False,  True,  True,  True,  True,  True,
        True, False,  True,  True,  True,  True,  True,  True,  True,
       False,  True,  True, False, False, False,  True,  True,  True,
       False, False,  True,  True,  True,  True, False,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
       False])

array([ True,  True, False, False, False, False, False, False, False,
        True, False, False, False, False, False, False, False, False,
       False, False, False, False, False,  True,  True, False, False,
        True, False, False, False,  True, False, False, False, False,
        True,  True, False, False, False, False, False,  True,  True,
        True, False, False,  True, False, False, False,  True, False,
       False, False,  True, False, False,  True, False, False, False,
       False, False,  True,  True, False, False,  True, False, False,
       False, False, False,  True, False, False,  True, False, False,
       False, False, False,  True,  True, False,  True, False,  True,
       False, False, False, False, False, False, False,  True, False,
       False, False, False, False,  True,  True, False, False, False,
       False,  True, False, False, False, False, False,  True,  True,
       False, False,  True, False, False, False, False,  True,  True,
       False,  True, False,  True, False, False, False,  True, False,
       False])

## 2 Control flow

### 2.1 if, else, elif

**stamford_staff**
- Print 'big store' als stamford_staff groter is dan 8. 
- Print 'medium store' als stamford_staff groter is dan 6 en kleiner of gelijk aan 8.
- Print 'small store' in alle andere gevallen.

**stamford_loc**
- Print stamford_loc als de locatie gelijk is aan 'Retail Park'. 
- Als dit niet het geval is print dan stamford_loc als de locatie gelijk is aan 'Shopping Centre'. 
- Print de eerste letter van de woorden in stamford_loc met hoofdletters als de eerdere checks niet waar zijn.

In [13]:
# 2 Control flow
# 2.1 if, else, elif
# stamford_staff
# Print 'big store' if stamford_staff is greater than 8.
# Print 'medium store' if stamford_staff is greater than 6 and less than or equal to 8.
# Print 'small store' in all other cases.
# stamford_loc
# Print stamford_loc if location equals 'Retail Park'.
# If not, print stamford_loc if location equals 'Shopping Centre'.
# Capitalize the first letter of the words in stamford_loc if the previous checks are not true.

stamford_staff = 8
stamford_loc = "shopping centre"

# Start coding here: stamford_staff
if stamford_staff > 8:
    print("big store")
elif stamford_staff > 6:
    print("medium store")
else:
    print("small store")
    
# Start coding here: stamford_loc
if stamford_loc == "Retail Park":
    print(stamford_loc)
elif stamford_loc == "Shopping Centre":
    print(stamford_loc)
else:
    print(stamford_loc.title())

medium store
Shopping Centre

### Selecteren van data in een dataframe

In de volgende opdrachten ga je data selecteren uit een dataframe. Zorg ervoor dat je precies de juiste kolomnamen gebruikt. Het selecteren van kolommen en data is hoofdlettergevoelig (case-sesitive).
- Voer onderstaande cel uit om het dataframe storedata te bekijken.

In [14]:
# Selecting data in a data frame
# In the following assignments you will select data from a data frame. 
# Make sure you use exactly the right column names. Selecting columns and 
# data is case-sensitive (case-sensitive).
# Execute the cell below to view the storedata data frame.
#Use this cell to check the data and the column headers.

display(storedata)

,Town,Country,Store ID,Manager name,Staff,Floor Space,Window,Car park,Demographic score,Location,40min population,30 min population,20 min population,10 min population,Store age,Clearance space,Competition number,Competition score,Profit,Performance
0,Swinton (Greater Manchester),UK,1437,Roger,9,18526,121,Yes,10,Retail Park,1288374,1138224,1006986,1002340,3,238,16,16,3410865,Good
1,Stamford,UK,1544,Ella,8,18569,121,Yes,11,Shopping Centre,1086225,1015321,1012182,1008436,4,384,15,19,4034051,Excellent
2,Skipton,UK,2039,Valentina,2,12288,105,No,12,Retail Park,1595638,1281661,1104490,1011395,11,219,13,18,2297810,Poor
3,Stratton,UK,2055,Antonia,7,17092,117,No,14,High Street,1179395,1022959,1009496,1002169,5,261,15,12,2398990,Poor
4,Shepperton,UK,2141,Gabriel,7,11307,103,No,18,Retail Park,1398558,1085170,1003137,1002513,7,200,19,13,2288235,Poor
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
131,South Benfleet,UK,96853,Vitória,7,14120,110,Yes,13,Retail Park,1665074,1240813,1141898,1041041,6,202,18,14,2581954,Reasonable
132,Sandy,UK,96858,Matías,6,11205,103,No,15,Shopping Centre,1657769,1424404,1378708,1160929,5,203,13,18,2589339,Reasonable
133,Sheerness,UK,98062,Gustavo,7,16190,115,No,19,Shopping Centre,1407456,1359511,1200486,1063718,7,341,18,18,2583755,Reasonable
134,Salford,UK,98923,Rafael,6,15516,113,No,17,High Street,1451087,1245725,1127276,1045154,11,261,14,10,950924,Poor
135,Stapleford,UK,99854,Lea,9,14468,111,Yes,18,High Street,1706344,1307752,1159859,1020940,8,276,18,13,3485295,Good

- Toon de regels (rijen / records) uit storedata die parkeergelegenheid ('Car park') hebben.

In [15]:
#Show the lines (rows / records) from storedata that have parking ('Car park').

#display(storedata[storedata["Car park"] == "Yes"])
display(storedata[(storedata["Car park"] == "Yes") | (storedata["Car park"] == "Y")])
set(storedata["Car park"])

,Town,Country,Store ID,Manager name,Staff,Floor Space,Window,Car park,Demographic score,Location,40min population,30 min population,20 min population,10 min population,Store age,Clearance space,Competition number,Competition score,Profit,Performance
0,Swinton (Greater Manchester),UK,1437,Roger,9,18526,121,Yes,10,Retail Park,1288374,1138224,1006986,1002340,3,238,16,16,3410865,Good
1,Stamford,UK,1544,Ella,8,18569,121,Yes,11,Shopping Centre,1086225,1015321,1012182,1008436,4,384,15,19,4034051,Excellent
5,Southwell,UK,2309,Sarah,7,17888,119,Yes,19,Retail Park,1614716,1325848,1220059,1193318,2,394,17,11,3058134,Good
6,Swinton (South Yorkshire),UK,3800,James,8,13814,109,Yes,17,High Street,1323396,1047485,1000888,1000844,5,228,11,14,2793160,Reasonable
7,Sowerby Bridge,UK,4214,Ashley,9,15643,114,Y,11,Retail Park,1052606,1025407,1004490,1000319,4,258,12,16,3345936,Good
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
128,Solihull,UK,93991,Julieta,9,13908,109,Yes,18,Shopping Centre,1586575,1021914,1017342,1013646,8,268,13,17,3774401,Excellent
129,Southborough,UK,95915,Letícia,9,10080,100,Yes,19,Retail Park,1541541,1474539,1462733,1384705,6,200,16,18,3584813,Excellent
130,Sutton Coldfield,UK,96852,Hannah,5,11884,104,Yes,18,Retail Park,1030405,1016260,1004442,1003598,10,200,12,14,2561019,Reasonable
131,South Benfleet,UK,96853,Vitória,7,14120,110,Yes,13,Retail Park,1665074,1240813,1141898,1041041,6,202,18,14,2581954,Reasonable
135,Stapleford,UK,99854,Lea,9,14468,111,Yes,18,High Street,1706344,1307752,1159859,1020940,8,276,18,13,3485295,Good

{'N', 'No', 'Y', 'Yes'}

- Toon de rijen van winkels in storedata die 7 of meer medewerkers ('Staff') hebben.

In [16]:
#Show the rows of stores in storedata that have 7 or more employees ('Staff').

display(storedata[storedata["Staff"] > 7])

,Town,Country,Store ID,Manager name,Staff,Floor Space,Window,Car park,Demographic score,Location,40min population,30 min population,20 min population,10 min population,Store age,Clearance space,Competition number,Competition score,Profit,Performance
0,Swinton (Greater Manchester),UK,1437,Roger,9,18526,121,Yes,10,Retail Park,1288374,1138224,1006986,1002340,3,238,16,16,3410865,Good
1,Stamford,UK,1544,Ella,8,18569,121,Yes,11,Shopping Centre,1086225,1015321,1012182,1008436,4,384,15,19,4034051,Excellent
6,Swinton (South Yorkshire),UK,3800,James,8,13814,109,Yes,17,High Street,1323396,1047485,1000888,1000844,5,228,11,14,2793160,Reasonable
7,Sowerby Bridge,UK,4214,Ashley,9,15643,114,Y,11,Retail Park,1052606,1025407,1004490,1000319,4,258,12,16,3345936,Good
8,Sheffield,UK,4857,Guilherme,9,13869,109,Yes,12,Shopping Centre,1537032,1301956,1220364,1057921,9,217,19,14,3117205,Good
10,Shepshed,UK,7491,Franco,9,13487,108,Y,15,Retail Park,1066359,1032143,1012703,1001537,10,246,15,13,3056804,Good
11,Staines,UK,7566,Olivia,8,11071,102,No,12,Retail Park,1514670,1400857,1319646,1010879,11,202,15,10,1801619,Poor
12,Sutton,UK,8207,Olivia,8,18923,122,Yes,18,Shopping Centre,1270676,1175257,1032335,1020164,9,237,10,17,3797953,Excellent
13,Stafford,UK,9171,Emily,8,13827,109,Yes,12,Retail Park,1132725,1102537,1058262,1012348,7,242,19,13,3138911,Good
16,Salcombe,UK,13984,Samuel,8,14291,110,Yes,18,High Street,1395395,1010441,1005783,1004909,2,272,16,11,3321899,Good
18,Slough,UK,14421,Agustina,9,15219,113,Yes,15,Shopping Centre,1973493,1929089,1429238,1426533,6,324,12,13,3640627,Excellent
19,Sedgley,UK,14984,Justin,9,12128,105,No,14,Shopping Centre,1634545,1482561,1353056,1296149,5,249,11,18,3075352,Good
24,Snaith,UK,19296,Lucía,9,19337,123,Yes,16,High Street,1137206,1066238,1049975,1041967,5,293,17,19,4217291,Excellent
29,Streatham,UK,23231,Fernanda,9,12959,107,N,17,High Street,1575328,1245626,1210849,1099580,11,241,11,13,2242288,Poor
33,St Austell,UK,24618,Vinícius,8,18077,120,Yes,16,High Street,1518005,1057762,1010136,1008599,9,281,10,11,2458785,Poor
34,Stalbridge,UK,24737,Madison,8,19093,122,Yes,17,Retail Park,1609510,1549228,1427320,1027983,11,232,12,16,4253984,Excellent
35,Southwick,UK,26307,Hannah,9,16915,117,Yes,13,Village,1697206,1222492,1162941,1018063,4,368,10,18,4185306,Excellent
36,Shefford,UK,29319,Gabriel,9,14605,111,Yes,10,Retail Park,1486821,1053920,1002953,1000801,9,305,17,19,4160531,Excellent
40,St Helens,UK,35944,Tomás,9,17586,118,Yes,18,Shopping Centre,1661094,1388562,1179306,1083011,5,264,10,10,3741911,Excellent
41,Stourbridge,UK,36979,Valentina,9,12075,105,Yes,10,High Street,1987353,1812472,1105847,1090676,7,227,14,13,2506748,Reasonable
43,Sale,UK,37916,Ryan,8,17006,117,Yes,10,Retail Park,1722997,1138993,1118970,1087986,10,323,15,19,4137224,Excellent
44,Seaham,UK,40352,Logan,9,12913,107,Yes,11,Retail Park,1845352,1142379,1135291,1123134,2,223,16,16,3572475,Excellent
45,Southwold,UK,40676,Sydney,9,14948,112,No,15,High Street,1892976,1100161,1053955,1005729,4,263,19,17,3121837,Good
50,Shaw & Crompton,UK,43044,Jacob,9,13289,108,Yes,19,Retail Park,1239852,1055619,1000653,1000359,8,272,11,11,2681110,Reasonable
51,South Elmsall,UK,43066,Yasmin,9,10774,101,Yes,17,Shopping Centre,1438538,1264765,1226241,1162342,8,217,13,10,2411437,Poor
55,Stow-on-the-Wold,UK,45547,Sofía,8,11538,103,No,10,Retail Park,1806266,1296257,1022238,1001346,7,228,12,15,2342229,Poor
65,Sutton-in-Ashfield,UK,55717,Sophia,8,15292,113,Yes,16,Retail Park,1099956,1008500,1003118,1000509,11,323,16,16,3175101,Good
67,Strood,UK,55967,Jessica,8,14833,112,Yes,15,High Street,1345628,1088954,1035579,1025745,2,249,14,13,3029751,Good
72,Swaffham,UK,58249,Jo,9,13008,107,No,17,High Street,1568216,1509273,1447590,1253376,5,251,14,18,3197934,Good
74,Soham,UK,59280,Victoria,9,15220,113,No,11,Shopping Centre,1103583,1024337,1003393,1000743,6,246,13,19,3822904,Excellent
79,South Woodham Ferrers,UK,60116,Megan,8,12092,105,Yes,11,Shopping Centre,1244807,1228531,1076416,1037950,11,236,16,11,3709026,Excellent
80,Stowmarket,UK,61950,Martina,8,15409,113,Yes,12,High Street,1087574,1017665,1003951,1002760,10,277,12,14,3337861,Good
87,South Cave,UK,66482,Giovanna,8,19784,124,Yes,10,Retail Park,1070741,1009942,1000635,1000593,10,381,18,18,4237135,Excellent
89,Sleaford,UK,67041,Martina,9,17303,118,No,17,Shopping Centre,1812944,1054693,1016635,1013033,8,337,17,19,4018966,Excellent
92,Sandhurst,UK,67825,Nicholas,8,13635,109,Yes,16,Retail Park,1549510,1174611,1063668,1009045,5,251,19,11,2405770,Poor
95,Shipston-on-Stour,France,69540,Cristóbal,9,13766,109,Yes,15,Retail Park,1951800,1750297,1195799,1054550,4,278,10,19,2896362,Reasonable
96,Saltburn-by-the-Sea,UK,73474,Noah,8,17531,118,Yes,14,Retail Park,1451869,1246513,1125463,1026729,3,312,13,17,3192066,Good
100,Sandown,UK,76653,Michael,9,11992,104,Yes,10,Shopping Centre,1269669,1048134,1023493,1011228,11,210,15,11,3606536,Excellent
101,St Just in Penwith,UK,76773,Thiago,8,10899,102,No,11,Shopping Centre,1549687,1528672,1406356,1208919,6,204,18,14,3304795,Good
107,Stokesley,UK,79413,Camille,9,16091,115,No,17,Shopping Centre,1033883,1001550,1001462,1001300,5,270,15,10,3102538,Good
110,St Albans,UK,82754,William,9,14466,111,Yes,13,Shopping Centre,1301020,1167302,1158329,1045449,9,309,11,19,3741407,Excellent
113,Southend-on-Sea,UK,83479,Emily,9,18928,122,No,19,High Street,1428417,1099245,1078450,1027636,9,245,10,11,1665527,Poor
121,Selby,UK,88942,Juan,9,11889,104,N,19,Shopping Centre,1983592,1234498,1127999,1086379,10,211,11,10,2534145,Reasonable
128,Solihull,UK,93991,Julieta,9,13908,109,Yes,18,Shopping Centre,1586575,1021914,1017342,1013646,8,268,13,17,3774401,Excellent
129,Southborough,UK,95915,Letícia,9,10080,100,Yes,19,Retail Park,1541541,1474539,1462733,1384705,6,200,16,18,3584813,Excellent
135,Stapleford,UK,99854,Lea,9,14468,111,Yes,18,High Street,1706344,1307752,1159859,1020940,8,276,18,13,3485295,Good

- Toon de regels in storedata waarvan de locatie ('Location') NIET in een retail park en NIET in een shopping centre is. Hint: pas de juiste vorm van np.logical toe.

In [17]:
#Show the rules in store data whose location ('Location') is NOT in a retail park and NOT in a shopping centre. 
#Hint: apply the correct form of np.logical.

display(np.logical_and(storedata["Location"] != "Retail Park", storedata["Location"] != "Shopping center"))

0      False
1       True
2      False
3       True
4      False
       ...
131    False
132     True
133     True
134     True
135     True
Name: Location, Length: 136, dtype: bool

- Toon de regels in storedata die een 'Competition score' hebben die groter is dan of gelijk is aan 10 EN kleiner dan of gelijk aan 15

In [18]:
# Show the rules in storedata that have a 'Competition score' greater than or equal to 10 AND 
# less than or equal to 15

#display(np.logical_and(storedata['Competition score'] >= 10, storedata['Competition score'] <= 15))
#storedata[()&()]

storedata[(storedata["Competition score"] >= 10)&
          (storedata["Competition score"] <= 15)]

,Town,Country,Store ID,Manager name,Staff,Floor Space,Window,Car park,Demographic score,Location,40min population,30 min population,20 min population,10 min population,Store age,Clearance space,Competition number,Competition score,Profit,Performance
3,Stratton,UK,2055,Antonia,7,17092,117,No,14,High Street,1179395,1022959,1009496,1002169,5,261,15,12,2398990,Poor
4,Shepperton,UK,2141,Gabriel,7,11307,103,No,18,Retail Park,1398558,1085170,1003137,1002513,7,200,19,13,2288235,Poor
5,Southwell,UK,2309,Sarah,7,17888,119,Yes,19,Retail Park,1614716,1325848,1220059,1193318,2,394,17,11,3058134,Good
6,Swinton (South Yorkshire),UK,3800,James,8,13814,109,Yes,17,High Street,1323396,1047485,1000888,1000844,5,228,11,14,2793160,Reasonable
8,Sheffield,UK,4857,Guilherme,9,13869,109,Yes,12,Shopping Centre,1537032,1301956,1220364,1057921,9,217,19,14,3117205,Good
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
125,Stony Stratford,UK,92341,Constanza,7,16280,115,Yes,14,Shopping Centre,1696068,1109630,1037165,1008244,2,274,18,15,3498966,Good
130,Sutton Coldfield,UK,96852,Hannah,5,11884,104,Yes,18,Retail Park,1030405,1016260,1004442,1003598,10,200,12,14,2561019,Reasonable
131,South Benfleet,UK,96853,Vitória,7,14120,110,Yes,13,Retail Park,1665074,1240813,1141898,1041041,6,202,18,14,2581954,Reasonable
134,Salford,UK,98923,Rafael,6,15516,113,No,17,High Street,1451087,1245725,1127276,1045154,11,261,14,10,950924,Poor
135,Stapleford,UK,99854,Lea,9,14468,111,Yes,18,High Street,1706344,1307752,1159859,1020940,8,276,18,13,3485295,Good