 # Comprehensions & generators
 - list comprehensions
 - list comprehensions inclusief control flow
 - Dict comprehensions
 - Generators

## 14.1 list comprehensions
- Voer onderstaande cel uit om storedata aan te maken

---
- Execute the cell below to create store data

In [1]:
import pandas as pd
import numpy as np
storedata = pd.read_csv('storedata_clean.csv',sep=";")
storedata.rename(columns={'Profit': 'Turnover'}, inplace=True)
storedata.head()

,Town,Country,Store ID,Manager name,Staff,Floor Space,Window,Car park,Demographic score,Location,40min population,30 min population,20 min population,10 min population,Store age,Clearance space,Competition number,Competition score,Turnover,Performance
0,Swinton (Greater Manchester),UK,1437,Roger,9,18526,121,Yes,10,Retail Park,1288374,1138224,1006986,1002340,3,238,16,16,3410865,Good
1,Stamford,UK,1544,Ella,8,18569,121,Yes,11,Shopping Centre,1086225,1015321,1012182,1008436,4,384,15,19,4034051,Excellent
2,Skipton,UK,2039,Valentina,2,12288,105,No,12,Retail Park,1595638,1281661,1104490,1011395,11,219,13,18,2297810,Poor
3,Stratton,UK,2055,Antonia,7,17092,117,No,14,High Street,1179395,1022959,1009496,1002169,5,261,15,12,2398990,Poor
4,Shepperton,UK,2141,Gabriel,7,11307,103,No,18,Retail Park,1398558,1085170,1003137,1002513,7,200,19,13,2288235,Poor

- Maak een nieuwe kolom 'to_eur' in storedata met daarin de omzet in EUR. 
- Pas hiervoor een list comprehension toe om de getallen in de 'Turnover' kolom om te rekenen van GBP naar EUR. Zoek de actuele wisselkoers op, op het internet.
- Zorg ervoor dat het integere getallen zijn.  
- Controleer of de nieuwe kolom juist is aangemaakt.

---
- Create a new column 'to_eur' in storedata containing the turnover in EUR.
- Apply a list comprehension to convert the numbers in the 'Turnover' column from GBP to EUR. Look up the current exchange rate on the internet.
- Make sure they are integer numbers.
- Check whether the new column has been created correctly.

In [2]:
#%%timeit
storedata['to_eur']= storedata['Turnover']*1.14
storedata

,Town,Country,Store ID,Manager name,Staff,Floor Space,Window,Car park,Demographic score,Location,...,30 min population,20 min population,10 min population,Store age,Clearance space,Competition number,Competition score,Turnover,Performance,to_eur
0,Swinton (Greater Manchester),UK,1437,Roger,9,18526,121,Yes,10,Retail Park,...,1138224,1006986,1002340,3,238,16,16,3410865,Good,3888386.10
1,Stamford,UK,1544,Ella,8,18569,121,Yes,11,Shopping Centre,...,1015321,1012182,1008436,4,384,15,19,4034051,Excellent,4598818.14
2,Skipton,UK,2039,Valentina,2,12288,105,No,12,Retail Park,...,1281661,1104490,1011395,11,219,13,18,2297810,Poor,2619503.40
3,Stratton,UK,2055,Antonia,7,17092,117,No,14,High Street,...,1022959,1009496,1002169,5,261,15,12,2398990,Poor,2734848.60
4,Shepperton,UK,2141,Gabriel,7,11307,103,No,18,Retail Park,...,1085170,1003137,1002513,7,200,19,13,2288235,Poor,2608587.90
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
131,South Benfleet,UK,96853,Vitória,7,14120,110,Yes,13,Retail Park,...,1240813,1141898,1041041,6,202,18,14,2581954,Reasonable,2943427.56
132,Sandy,UK,96858,Matías,6,11205,103,No,15,Shopping Centre,...,1424404,1378708,1160929,5,203,13,18,2589339,Reasonable,2951846.46
133,Sheerness,UK,98062,Gustavo,7,16190,115,No,19,Shopping Centre,...,1359511,1200486,1063718,7,341,18,18,2583755,Reasonable,2945480.70
134,Salford,UK,98923,Rafael,6,15516,113,No,17,High Street,...,1245725,1127276,1045154,11,261,14,10,950924,Poor,1084053.36
135,Stapleford,UK,99854,Lea,9,14468,111,Yes,18,High Street,...,1307752,1159859,1020940,8,276,18,13,3485295,Good,3973236.30

- Maak een nieuwe kolom 'to_perf' met behulp van een list comprehension.
- Zorg ervoor dat in deze kolom het volgende staat:
    - 'good' als de omzet in de kolom to_eur hoger is dan 4000000
    - 'bad' als de omzet in de kolom to_eur lager dan of gelijk aan 4000000 is.
    
 ---
- Create a new column 'to_perf' using a list comprehension.
- Make sure this column contains the following:
 - 'good' if the turnover in the column to_eur is higher than 4000000
 - 'bad' if the revenue in the to_eur column is less than or equal to 4000000.

In [3]:
#%%timeit
storedata['to_eur'] =[int(x * 1.14) for x in storedata['Turnover']]
storedata

,Town,Country,Store ID,Manager name,Staff,Floor Space,Window,Car park,Demographic score,Location,...,30 min population,20 min population,10 min population,Store age,Clearance space,Competition number,Competition score,Turnover,Performance,to_eur
0,Swinton (Greater Manchester),UK,1437,Roger,9,18526,121,Yes,10,Retail Park,...,1138224,1006986,1002340,3,238,16,16,3410865,Good,3888386
1,Stamford,UK,1544,Ella,8,18569,121,Yes,11,Shopping Centre,...,1015321,1012182,1008436,4,384,15,19,4034051,Excellent,4598818
2,Skipton,UK,2039,Valentina,2,12288,105,No,12,Retail Park,...,1281661,1104490,1011395,11,219,13,18,2297810,Poor,2619503
3,Stratton,UK,2055,Antonia,7,17092,117,No,14,High Street,...,1022959,1009496,1002169,5,261,15,12,2398990,Poor,2734848
4,Shepperton,UK,2141,Gabriel,7,11307,103,No,18,Retail Park,...,1085170,1003137,1002513,7,200,19,13,2288235,Poor,2608587
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
131,South Benfleet,UK,96853,Vitória,7,14120,110,Yes,13,Retail Park,...,1240813,1141898,1041041,6,202,18,14,2581954,Reasonable,2943427
132,Sandy,UK,96858,Matías,6,11205,103,No,15,Shopping Centre,...,1424404,1378708,1160929,5,203,13,18,2589339,Reasonable,2951846
133,Sheerness,UK,98062,Gustavo,7,16190,115,No,19,Shopping Centre,...,1359511,1200486,1063718,7,341,18,18,2583755,Reasonable,2945480
134,Salford,UK,98923,Rafael,6,15516,113,No,17,High Street,...,1245725,1127276,1045154,11,261,14,10,950924,Poor,1084053
135,Stapleford,UK,99854,Lea,9,14468,111,Yes,18,High Street,...,1307752,1159859,1020940,8,276,18,13,3485295,Good,3973236

In [4]:
#%%timeit
list_for = []
for x in storedata['Turnover']:
    list_for.append(x + 1.14)
storedata['to_eur_for'] = list_for
storedata

,Town,Country,Store ID,Manager name,Staff,Floor Space,Window,Car park,Demographic score,Location,...,20 min population,10 min population,Store age,Clearance space,Competition number,Competition score,Turnover,Performance,to_eur,to_eur_for
0,Swinton (Greater Manchester),UK,1437,Roger,9,18526,121,Yes,10,Retail Park,...,1006986,1002340,3,238,16,16,3410865,Good,3888386,3410866.14
1,Stamford,UK,1544,Ella,8,18569,121,Yes,11,Shopping Centre,...,1012182,1008436,4,384,15,19,4034051,Excellent,4598818,4034052.14
2,Skipton,UK,2039,Valentina,2,12288,105,No,12,Retail Park,...,1104490,1011395,11,219,13,18,2297810,Poor,2619503,2297811.14
3,Stratton,UK,2055,Antonia,7,17092,117,No,14,High Street,...,1009496,1002169,5,261,15,12,2398990,Poor,2734848,2398991.14
4,Shepperton,UK,2141,Gabriel,7,11307,103,No,18,Retail Park,...,1003137,1002513,7,200,19,13,2288235,Poor,2608587,2288236.14
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
131,South Benfleet,UK,96853,Vitória,7,14120,110,Yes,13,Retail Park,...,1141898,1041041,6,202,18,14,2581954,Reasonable,2943427,2581955.14
132,Sandy,UK,96858,Matías,6,11205,103,No,15,Shopping Centre,...,1378708,1160929,5,203,13,18,2589339,Reasonable,2951846,2589340.14
133,Sheerness,UK,98062,Gustavo,7,16190,115,No,19,Shopping Centre,...,1200486,1063718,7,341,18,18,2583755,Reasonable,2945480,2583756.14
134,Salford,UK,98923,Rafael,6,15516,113,No,17,High Street,...,1127276,1045154,11,261,14,10,950924,Poor,1084053,950925.14
135,Stapleford,UK,99854,Lea,9,14468,111,Yes,18,High Street,...,1159859,1020940,8,276,18,13,3485295,Good,3973236,3485296.14

In [5]:
new_list = []
for to in storedata['to_eur']:
    if to > 4000000:
        new_list.append('good')
    else:
        new_list.append('bad')
storedata['to_preformance'] = new_list
storedata

,Town,Country,Store ID,Manager name,Staff,Floor Space,Window,Car park,Demographic score,Location,...,10 min population,Store age,Clearance space,Competition number,Competition score,Turnover,Performance,to_eur,to_eur_for,to_preformance
0,Swinton (Greater Manchester),UK,1437,Roger,9,18526,121,Yes,10,Retail Park,...,1002340,3,238,16,16,3410865,Good,3888386,3410866.14,bad
1,Stamford,UK,1544,Ella,8,18569,121,Yes,11,Shopping Centre,...,1008436,4,384,15,19,4034051,Excellent,4598818,4034052.14,good
2,Skipton,UK,2039,Valentina,2,12288,105,No,12,Retail Park,...,1011395,11,219,13,18,2297810,Poor,2619503,2297811.14,bad
3,Stratton,UK,2055,Antonia,7,17092,117,No,14,High Street,...,1002169,5,261,15,12,2398990,Poor,2734848,2398991.14,bad
4,Shepperton,UK,2141,Gabriel,7,11307,103,No,18,Retail Park,...,1002513,7,200,19,13,2288235,Poor,2608587,2288236.14,bad
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
131,South Benfleet,UK,96853,Vitória,7,14120,110,Yes,13,Retail Park,...,1041041,6,202,18,14,2581954,Reasonable,2943427,2581955.14,bad
132,Sandy,UK,96858,Matías,6,11205,103,No,15,Shopping Centre,...,1160929,5,203,13,18,2589339,Reasonable,2951846,2589340.14,bad
133,Sheerness,UK,98062,Gustavo,7,16190,115,No,19,Shopping Centre,...,1063718,7,341,18,18,2583755,Reasonable,2945480,2583756.14,bad
134,Salford,UK,98923,Rafael,6,15516,113,No,17,High Street,...,1045154,11,261,14,10,950924,Poor,1084053,950925.14,bad
135,Stapleford,UK,99854,Lea,9,14468,111,Yes,18,High Street,...,1020940,8,276,18,13,3485295,Good,3973236,3485296.14,bad

In [6]:
storedata['to_preformance'] = ['good'if to > 4000000 else 'bad' for to in storedata['to_eur']]
storedata

,Town,Country,Store ID,Manager name,Staff,Floor Space,Window,Car park,Demographic score,Location,...,10 min population,Store age,Clearance space,Competition number,Competition score,Turnover,Performance,to_eur,to_eur_for,to_preformance
0,Swinton (Greater Manchester),UK,1437,Roger,9,18526,121,Yes,10,Retail Park,...,1002340,3,238,16,16,3410865,Good,3888386,3410866.14,bad
1,Stamford,UK,1544,Ella,8,18569,121,Yes,11,Shopping Centre,...,1008436,4,384,15,19,4034051,Excellent,4598818,4034052.14,good
2,Skipton,UK,2039,Valentina,2,12288,105,No,12,Retail Park,...,1011395,11,219,13,18,2297810,Poor,2619503,2297811.14,bad
3,Stratton,UK,2055,Antonia,7,17092,117,No,14,High Street,...,1002169,5,261,15,12,2398990,Poor,2734848,2398991.14,bad
4,Shepperton,UK,2141,Gabriel,7,11307,103,No,18,Retail Park,...,1002513,7,200,19,13,2288235,Poor,2608587,2288236.14,bad
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
131,South Benfleet,UK,96853,Vitória,7,14120,110,Yes,13,Retail Park,...,1041041,6,202,18,14,2581954,Reasonable,2943427,2581955.14,bad
132,Sandy,UK,96858,Matías,6,11205,103,No,15,Shopping Centre,...,1160929,5,203,13,18,2589339,Reasonable,2951846,2589340.14,bad
133,Sheerness,UK,98062,Gustavo,7,16190,115,No,19,Shopping Centre,...,1063718,7,341,18,18,2583755,Reasonable,2945480,2583756.14,bad
134,Salford,UK,98923,Rafael,6,15516,113,No,17,High Street,...,1045154,11,261,14,10,950924,Poor,1084053,950925.14,bad
135,Stapleford,UK,99854,Lea,9,14468,111,Yes,18,High Street,...,1020940,8,276,18,13,3485295,Good,3973236,3485296.14,bad

In [7]:
storedata['Country'].unique()

array(['UK', 'France'], dtype=object)

In [8]:
storedata['to_eur'] = [int(x * 1.14) if y == 'UK' else x for x, y in zip(storedata['Turnover'], storedata['Country'])]
storedata

,Town,Country,Store ID,Manager name,Staff,Floor Space,Window,Car park,Demographic score,Location,...,10 min population,Store age,Clearance space,Competition number,Competition score,Turnover,Performance,to_eur,to_eur_for,to_preformance
0,Swinton (Greater Manchester),UK,1437,Roger,9,18526,121,Yes,10,Retail Park,...,1002340,3,238,16,16,3410865,Good,3888386,3410866.14,bad
1,Stamford,UK,1544,Ella,8,18569,121,Yes,11,Shopping Centre,...,1008436,4,384,15,19,4034051,Excellent,4598818,4034052.14,good
2,Skipton,UK,2039,Valentina,2,12288,105,No,12,Retail Park,...,1011395,11,219,13,18,2297810,Poor,2619503,2297811.14,bad
3,Stratton,UK,2055,Antonia,7,17092,117,No,14,High Street,...,1002169,5,261,15,12,2398990,Poor,2734848,2398991.14,bad
4,Shepperton,UK,2141,Gabriel,7,11307,103,No,18,Retail Park,...,1002513,7,200,19,13,2288235,Poor,2608587,2288236.14,bad
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
131,South Benfleet,UK,96853,Vitória,7,14120,110,Yes,13,Retail Park,...,1041041,6,202,18,14,2581954,Reasonable,2943427,2581955.14,bad
132,Sandy,UK,96858,Matías,6,11205,103,No,15,Shopping Centre,...,1160929,5,203,13,18,2589339,Reasonable,2951846,2589340.14,bad
133,Sheerness,UK,98062,Gustavo,7,16190,115,No,19,Shopping Centre,...,1063718,7,341,18,18,2583755,Reasonable,2945480,2583756.14,bad
134,Salford,UK,98923,Rafael,6,15516,113,No,17,High Street,...,1045154,11,261,14,10,950924,Poor,1084053,950925.14,bad
135,Stapleford,UK,99854,Lea,9,14468,111,Yes,18,High Street,...,1020940,8,276,18,13,3485295,Good,3973236,3485296.14,bad

- Breid bovenstaande list comprehension uit met een extra voorwaarde:
   - 'good' als de omzet in de kolom to_eur hoger is dan 4000000
   - 'okay' als de omzet in de kolom to_eur hoger is dan 3500000
   - 'bad' als de omzet in de kolom to_eur lager dan of gelijk aan 3500000 is.  

Hint: in een list comprehension kun je niet gebruik maken van elif, maar wel van de combinatie if en else.

---
- Extend the above list comprehension with an extra condition:
    - 'good' if the turnover in the column to_eur is higher than 4000000
    - 'okay' if the turnover in the column to_eur is higher than 3500000
    - 'bad' if the turnover in the column to_eur is less than or equal to 3500000.

Hint: in a list comprehension you cannot use elif, but you can use the combination if and else.

In [9]:
storedata['to_preformance'] = ['good' if to > 4000000 else 'okay' if to > 3500000 else 'bad' for to in storedata['to_eur']]
storedata

,Town,Country,Store ID,Manager name,Staff,Floor Space,Window,Car park,Demographic score,Location,...,10 min population,Store age,Clearance space,Competition number,Competition score,Turnover,Performance,to_eur,to_eur_for,to_preformance
0,Swinton (Greater Manchester),UK,1437,Roger,9,18526,121,Yes,10,Retail Park,...,1002340,3,238,16,16,3410865,Good,3888386,3410866.14,okay
1,Stamford,UK,1544,Ella,8,18569,121,Yes,11,Shopping Centre,...,1008436,4,384,15,19,4034051,Excellent,4598818,4034052.14,good
2,Skipton,UK,2039,Valentina,2,12288,105,No,12,Retail Park,...,1011395,11,219,13,18,2297810,Poor,2619503,2297811.14,bad
3,Stratton,UK,2055,Antonia,7,17092,117,No,14,High Street,...,1002169,5,261,15,12,2398990,Poor,2734848,2398991.14,bad
4,Shepperton,UK,2141,Gabriel,7,11307,103,No,18,Retail Park,...,1002513,7,200,19,13,2288235,Poor,2608587,2288236.14,bad
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
131,South Benfleet,UK,96853,Vitória,7,14120,110,Yes,13,Retail Park,...,1041041,6,202,18,14,2581954,Reasonable,2943427,2581955.14,bad
132,Sandy,UK,96858,Matías,6,11205,103,No,15,Shopping Centre,...,1160929,5,203,13,18,2589339,Reasonable,2951846,2589340.14,bad
133,Sheerness,UK,98062,Gustavo,7,16190,115,No,19,Shopping Centre,...,1063718,7,341,18,18,2583755,Reasonable,2945480,2583756.14,bad
134,Salford,UK,98923,Rafael,6,15516,113,No,17,High Street,...,1045154,11,261,14,10,950924,Poor,1084053,950925.14,bad
135,Stapleford,UK,99854,Lea,9,14468,111,Yes,18,High Street,...,1020940,8,276,18,13,3485295,Good,3973236,3485296.14,okay

## 14.2 Dict comprehensions
- Pas een dict comprehension toe om de dictionary to_gbp_eur te maken met daarin de GBP omzetten ('Turnover') als 'keys' en de EUR omzetten als 'value'.
- Print to_gbp_eur

---
- Apply a dict comprehension to create the dictionary to_gbp_eur containing the GBP converts ('Turnover') as 'keys' and the EUR converts as 'value'.
- Print to_gbp_eur

In [10]:
gbp_eur = 1.15
to_gbp_eur = {x:round(x * gbp_eur) for x in storedata['Turnover']}
print(to_gbp_eur)

{3410865: 3922495, 4034051: 4639159, 2297810: 2642482, 2398990: 2758838, 2288235: 2631470, 3058134: 3516854, 2793160: 3212134, 3345936: 3847826, 3117205: 3584786, 3153278: 3626270, 3056804: 3515325, 1801619: 2071862, 3797953: 4367646, 3138911: 3609748, 2724068: 3132678, 2382751: 2740164, 3321899: 3820184, 2803867: 3224447, 3640627: 4186721, 3075352: 3536655, 3491993: 4015792, 3252148: 3739970, 3041618: 3497861, 3737466: 4298086, 4217291: 4849885, 2008363: 2309617, 3516397: 4043857, 3957233: 4550818, 2942839: 3384265, 2242288: 2578631, 2616387: 3008845, 2493975: 2868071, 2203994: 2534593, 2458785: 2827603, 4253984: 4892082, 4185306: 4813102, 4160531: 4784611, 3100521: 3565599, 3246954: 3733997, 2085733: 2398593, 3741911: 4303198, 2506748: 2882760, 2393869: 2752949, 4137224: 4757808, 3572475: 4108346, 3121837: 3590113, 2799074: 3218935, 2707402: 3113512, 4176642: 4803138, 1829621: 2104064, 2681110: 3083276, 2411437: 2773153, 4300537: 4945618, 3758014: 4321716, 2234201: 2569331, 2342229: 2693563, 2104028: 2419632, 2406120: 2767038, 2839607: 3265548, 2831103: 3255768, 3032277: 3487119, 3625088: 4168851, 2196757: 2526271, 3336417: 3836880, 2779994: 3196993, 3175101: 3651366, 4587304: 5275400, 3029751: 3484214, 1512452: 1739320, 3418735: 3931545, 2526616: 2905608, 2333940: 2684031, 3197934: 3677624, 3135133: 3605403, 3822904: 4396340, 2538362: 2919116, 1855427: 2133741, 2260838: 2599964, 3524409: 4053070, 3709026: 4265380, 3337861: 3838540, 2407898: 2769083, 3260276: 3749317, 1792809: 2061730, 2804353: 3225006, 2869330: 3299729, 2422936: 2786376, 4237135: 4872705, 3007050: 3458107, 4018966: 4621811, 2553461: 2936480, 3817558: 4390192, 2405770: 2766636, 1764019: 2028622, 4793593: 5512632, 2896362: 3330816, 3192066: 3670876, 3092180: 3556007, 2419983: 2782980, 2701564: 3106799, 3606536: 4147516, 3304795: 3800514, 3663843: 4213419, 3965957: 4560851, 2651301: 3048996, 3487542: 4010673, 2004312: 2304959, 3102538: 3567919, 2291029: 2634683, 3895318: 4479616, 3741407: 4302618, 2604575: 2995261, 1648919: 1896257, 1665527: 1915356, 3654694: 4202898, 3598894: 4138728, 2172265: 2498105, 2397407: 2757018, 2329927: 2679416, 3444876: 3961607, 2564358: 2949012, 2534145: 2914267, 2956061: 3399470, 2467943: 2838134, 3891535: 4475265, 3498966: 4023811, 2872001: 3302801, 3501093: 4026257, 3774401: 4340561, 3584813: 4122535, 2561019: 2945172, 2581954: 2969247, 2589339: 2977740, 2583755: 2971318, 950924: 1093563, 3485295: 4008089}

## 14.3 Generators
- Maak een generator object floor_size dat 'big' bevat als de winkeloppervlakte ('Floor Space') groter of gelijk aan 15000 is en 'small' bevat als de winkeloppervlakte lager is dan 15000.
- Print het type van floor_size
- Print de eerste 3 elementen in floor_size door de next() functie toe te passen.
- Print de andere elementen met behulp van een for loop.

---

- Create a generator object floor_size that contains 'big' if the floor space is greater than or equal to 15000 and contains 'small' if the floor space is less than 15000.
- Print the type of floor_size
- Print the first 3 elements in floor_size by applying the next() function.
- Print the other elements using a for loop.

In [11]:
#%%timeit
floor_size = ('big' if fs > 15000 else 'small' for fs in storedata['Floor Space'])
floor_size
print(next(floor_size))
print(next(floor_size))
print(next(floor_size))
for size in floor_size:
    print(size)

big
big
small
big
small
big
small
big
small
small
small
small
big
small
small
small
small
small
big
small
big
big
big
big
big
small
small
big
big
small
big
big
big
big
big
big
small
small
big
small
big
small
small
big
small
small
small
small
big
small
small
small
small
big
small
small
small
small
small
big
small
big
big
small
small
big
big
small
small
big
small
big
small
small
big
small
small
big
small
small
big
small
small
big
small
small
small
big
big
big
small
big
small
big
big
small
big
big
big
big
small
small
big
big
small
big
small
big
big
big
small
big
big
big
small
big
big
big
small
small
small
small
big
big
big
big
small
small
small
small
small
small
small
big
big
small

- Waarom zou je een generator gebruiken in plaats van een een list comprehension?

---
- Why use a generator instead of a list comprehension?

- Definieer de function big_small(col) die een generator object aanmaakt dat hetzelfde is als het generator object dat je hebt gemaakt in de vorige opdracht.
- Gebruik een for loop die de elementen uit deze generator print als deze wordt uitgevoerd met de 'Floor Space' kolom als parameter.

---
- Define the function big_small(col) which creates a generator object that is the same as the generator object you created in the previous assignment.
- Use a for loop that prints the elements from this generator when executed with the 'Floor Space' column as parameter.

Extra info over generators:
https://www.freecodecamp.org/news/how-and-why-you-should-use-python-generators-f6fb56650888/#:~:text=Generators%20have%20been%20an%20important,%2C%20easy%2C%20and%20clean%20way.

In [12]:
def big_small(col):
    for size in col:
        if size >= 15000:
            yield 'big'
        else:
            yield 'small'            

for size in big_small(storedata['Floor Space']):
    print(size)

big
big
small
big
small
big
small
big
small
small
small
small
big
small
small
small
small
small
big
small
big
big
big
big
big
small
small
big
big
small
big
big
big
big
big
big
small
small
big
small
big
small
small
big
small
small
small
small
big
small
small
small
small
big
small
small
small
small
small
big
small
big
big
small
small
big
big
small
small
big
small
big
small
small
big
small
small
big
small
small
big
small
small
big
small
small
small
big
big
big
small
big
small
big
big
small
big
big
big
big
small
small
big
big
small
big
small
big
big
big
small
big
big
big
small
big
big
big
small
small
small
small
big
big
big
big
small
small
small
small
small
small
small
big
big
small

## 14.4 Comprehensions and pandas dataseries
- Maak een nieuwe kolom 'Avg' aan met behulp van een list comprehension:
    - 'above average' als het aantal medewerkers ('Staff') hoger is dan of gelijk is aan het gemiddeld aantal medewerkers.
    - 'below average' als het aantal medewerkers ('Staff') lager is dan het gemiddeld aantal medewerkers.
    
---
- Create a new column 'Avg' using a list comprehension:
     - 'above average' if the number of employees ('Staff') is higher than or equal to the average number of employees.
     - 'below average' if the number of employees ('Staff') is lower than the average number of employees.

In [13]:
st = storedata['Staff']
avg_check = ['above average' if number >= np.mean(st) else 'below average' for number in st ]
storedata['Avg']=avg_check
storedata.head()

,Town,Country,Store ID,Manager name,Staff,Floor Space,Window,Car park,Demographic score,Location,...,Store age,Clearance space,Competition number,Competition score,Turnover,Performance,to_eur,to_eur_for,to_preformance,Avg
0,Swinton (Greater Manchester),UK,1437,Roger,9,18526,121,Yes,10,Retail Park,...,3,238,16,16,3410865,Good,3888386,3410866.14,okay,above average
1,Stamford,UK,1544,Ella,8,18569,121,Yes,11,Shopping Centre,...,4,384,15,19,4034051,Excellent,4598818,4034052.14,good,above average
2,Skipton,UK,2039,Valentina,2,12288,105,No,12,Retail Park,...,11,219,13,18,2297810,Poor,2619503,2297811.14,bad,below average
3,Stratton,UK,2055,Antonia,7,17092,117,No,14,High Street,...,5,261,15,12,2398990,Poor,2734848,2398991.14,bad,above average
4,Shepperton,UK,2141,Gabriel,7,11307,103,No,18,Retail Park,...,7,200,19,13,2288235,Poor,2608587,2288236.14,bad,above average

## 14.5 Data laden met een generator

In the cell below you will find the code of an exercise from the data camp course Python Data Science Toolbox (Part 2):
https://campus.datacamp.com/courses/python-data-science-toolbox-part-2/bringing-it-all-together-3?ex=8

- Modify this code so that you can read the file 'storedata.csv' into a generator object in a similar way.
- Hint: Also apply the readline() method for the while loop so that you skip the first line with the column headers.
- Print the first 3 lines of the generator object.

Text from data camp about generators:

Generators allow users to lazily evaluate data. This concept of lazy evaluation is useful when you have to deal with very large datasets because it lets you generate values in an efficient manner by yielding only chunks of data at a time instead of the whole thing at once.

In this exercise, you will define a generator function read_large_file() that produces a generator object which yields a single line from a file each time next() is called on it. Make sure the csv file 'storedata.csv' is in your current directory.

Note that when you open a connection to a file, the resulting file object is already a generator! So out in the wild, you won't have to explicitly create generator objects in cases such as this. However, for pedagogical reasons, we are having you practice how to do this here with the read_large_file() function. Go for it!

- Meer info over with/open: https://www.pythonforbeginners.com/files/with-statement-in-python

In [1]:
#Datacamp code:

# Define read_large_file()
def read_large_file(file_object):
    """A generator function to read a large file lazily."""

    # Loop indefinitely until the end of the file
    while True:

        # Read a line from the file: data
        data = file_object.readline()

        # Break if this is the end of the file
        if not data:
            break

        # Yield the line of data
        yield data

# Open a connection to the file
with open('world_dev_ind.csv') as file:

    # Create a generator object for the file: gen_file
    gen_file = read_large_file(file)

    # Print the first three lines of the file
    print(next(gen_file))
    print(next(gen_file))
    print(next(gen_file))

FileNotFoundError: [Errno 2] No such file or directory: 'world_dev_ind.csv'

- Pas de code uit onderstaande cel aan zodat je een dictionary krijgt met daarin het aantal unieke waardes uit de 'Staff' kolom.

In [2]:
#datacamp code:

# Initialize an empty dictionary: counts_dict
counts_dict = {}

# Open a connection to the file
with open('world_dev_ind.csv') as file:

    # Iterate over the generator from read_large_file()
    for line in read_large_file(file):

        row = line.split(',')
        first_col = row[0]

        if first_col in counts_dict.keys():
            counts_dict[first_col] += 1
        else:
            counts_dict[first_col] = 1

# Print            
print(counts_dict)

FileNotFoundError: [Errno 2] No such file or directory: 'world_dev_ind.csv'